/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background: #524f4b;
}
a {
  color: #333;
}
.hideme {
  display: none;
  font-size: 13px;
  font-weight: 400 !important;
}
.list-group-item {
  padding-bottom: 5px;
  cursor: pointer;
}
.list-group-item {
  font-family: "Open Sans", sans-serif;
}

.text-muted {
  color: #fffbfb !important;
  /* background: #272525; */
  padding: 6px;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 0;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
  font-weight: 700;
}

.loading {
  text-align: center;
  font-size: 18px;
  min-height: 100px;
  vertical-align: middle;
  line-height: 100px;
}

#urls {
  width: 100%;
  min-height: 200px;
  background: #adb5bd;
}

.logo {
  max-height: 100px;
  margin: 2% 0;
}
.center {
  text-align: center;
}
.save {
  background: #f46717;
  color: white;
  padding: 6px;
  margin-top: 10px;
  margin-right: 6px;
  border: 0;
  display: inline-block;
  transition: ease-in-out 500ms;
}

.save.active {
  background: green;
}
.products {
  max-height: 400px;
}
.products img {
  max-height: 35px;
}
